<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="CommunityToolkit.*" />
      <package pattern="Microsoft.*" />
      <package pattern="Newtonsoft.*" />
      <package pattern="System.*" />
      <package pattern="SQLite" />
      <package pattern="SQLitePCLRaw.*" />
      <package pattern="SourceGear.*" />
      <package pattern="xunit.*" />
      <package pattern="dotnet-stryker" />
      <package pattern="Stryker.*" />
      <package pattern="Verify.*" />
      <package pattern="Verify" />
      <package pattern="DiffEngine" />
      <package pattern="EmptyFiles" />
      <package pattern="SimpleInfoName" />
      <package pattern="Argon" />
      <package pattern="Microsoft.Windows.CsWin32" />
      <package pattern="Microsoft.Windows.SDK.Win32Metadata" />
      <package pattern="Microsoft.Windows.SDK.Win32Docs" />
    </packageSource>
  </packageSourceMapping>
</configuration>
